html {
	display: flex;
	justify-content: center;
	font-size: 1.5vw;
	font-family: "Open Sans";
}
body {
	max-width: 90vw;
	background-color: #1d1f21;
	color: #c5c8c6;
	padding: 1rem;
}

header {
	font-size: 3rem;
	padding: 0.5rem;
	font-style: italic;
	text-align: center;
	background-color: #282a2e;
	border-radius: 2rem;
	margin-bottom: 5rem;
}

footer {
	margin-top: 5rem;
	display: flex;
	justify-content: space-around;
	background-color: #282a2e;
	padding: 0.5rem;
	border-radius: 1rem;
}

.advantages {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	padding: 1rem;
}
.advantage {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
	border: 0.2rem solid #373b41;
	border-radius: 1rem;
	grid-column: span 3;
}
.advantages > .title {
	grid-column: span 6;
}
.advantage:last-child {
	grid-column: 2 / span 4;
}
.advantage:hover {
	background-color: #282a2e;
}
.title {
	display: flex;
	align-items: center;
	font-size: 2rem;
	width: 100%;
}
.advantage .title img {
	background-color: #cc6666;
	border-radius: 100%;
}

img {
	margin: 1rem;
	width: 3rem;
	padding: 0.5rem;
}

p {
	text-indent: 3rem;
	text-align: justify;
}

a {
	text-decoration: none;
	color: inherit;
}
a.button {
	background-color: #282a2e;
	font-size: 2rem;
	margin: 2rem auto 0 auto;
	padding: 1rem;
	border: 0.2rem solid #373b41;
	border-radius: 2rem;
	display: block;
	width: 40%;
	text-align: center;
}
a.button:hover {
	border-color: #cc6666;
	cursor: pointer;
}
a.button:active {
	background-color: #373b41;
}
a.button:focus {
	outline: none;
}
